$background-colour1: #b94040;
$background-colour2: #753232;
$background-colour3: #412a2a;
$background-colour4: #2b2121;
$background-colour5: #863f3f;
$highlight-colour: #e77d40;
$text-colour: #e4e2e2;